<div class="card-header">
    Anmelden mit
</div>
<ul class="list-group list-group-flush">
    <% targets.forEach(function (target) {%>
        <li class="list-group-item">
            <a href="/auth/extern?target=<%= target.target %>" class="btn btn-dark">
                <i class="fab fa-lg fa-square-<%= target.icon %>"></i></span> <%= target.name %>
            </a>
        </li>
    <% })%>
</ul>