
{
    # Email used for letsencypt or zerossl
    email foo@bar.com

    # expose api admin on the network
    # admin  :2019
    admin off
}

:80 {
    redir / /dashboard/

    reverse_proxy /auth/* autho:8080

    forward_auth /dashboard/* autho:8081 {
        uri /
        copy_headers Remote_User Remote_Name Remote_Scope Remote_Email 
    }

    handle_path /dashboard/* {
        reverse_proxy dashi:80
    }
}